zanbody,html{position:relative;overflow:hidden;height:100%;min-height: 25.813rem; -webkit-tap-highlight-color:transparent}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,iframe,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
div{margin:0 auto}
:focus{outline:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{outline:0}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%}
input,select,textarea{border:0;background:0;vertical-align:middle;font-size:100%;resize:none;}
b{font-weight:400}
img{border:0}
address,cite,code,em,i,th{font-weight:500;font-style:normal}
.clear{clear:both;font-size:0;line-height:0}
q:after,q:before{content:'';
}
abbr,acronym{border:0}
a{text-decoration:none}
.m0out{margin:0 auto}
.im{ime-mode:disabled}
a:active,a:link,a:visited{color:#666}
a:active{background:0 0\9}
a:hover{color:#0073b5}
::selection{background:#1dace5;color:#fff}
img::selection{background:0}
.main{z-index:99;font-size:0;}
.slide{height: 100%;position: relative;}
.swiper-container{width: 100%;height: 100%;overflow:hidden;position: relative;}
.animated{
  animation-duration:1s;
  animation-fill-mode:both;
}
.animated.infinite{
  animation-iteration-count:infinite
}
.animated.hinge{
  animation-duration:2s
}
@keyframes pulse{
  0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
  50%{-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}
  100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.pulse{
  animation-name:pulse
}
@keyframes zanfr1{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
@keyframes zanfr2{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
#app {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  top:0;
  left: 0;
  background-color: #353ab1;
  position: fixed;
  .vjs-poster{
  }
  .vjs-big-play-centered .vjs-big-play-button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin:auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border: none;
  }
}
.nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top:0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav1{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  left: 0;
  top:0;
  z-index: 999;
  display: block;
}
.shareimg{
  width: 3.54rem;
  height: 8.68rem;
  display: block;
  pointer-events: none;
  position: relative;
  margin: 2.22rem auto 0;
  right: -4rem;
}
.sharenav_txt{
  height:1.07rem;
  font-size:0.77rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,0.85);
  line-height:1.07rem;
  margin-top: .55rem;
}
.shareclose{
  width:5.35rem;
  height:1.88rem;
  line-height:1.88rem;
  background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
  border-radius:0.96rem;
  margin: .77rem auto 0;
  font-size:0.64rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,0.85);
}
.pg{
	display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;height:100%;
  background:no-repeat center;
  background-size: 100% 100%;
  text-align:center;
  overflow:hidden;
  position:relative;
  font-size: 0;
  box-sizing: border-box;
  z-index: 10;
}
.transparent{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top:0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.fadetxt-enter-active, .fadetxt-leave-active {
  transition: opacity .3s;
}
.fadetxt-enter, .fadetxt-leave-to{
  transition: opacity .3s;
  opacity: 0;
}
.Music{
  position:fixed;
  z-index:999;
  width:1.35rem;
  height:1.35rem;
  background:no-repeat center;
  background-size:1.1rem 1.1rem;
  padding:0.1rem 0.5rem;
  right:0rem;
  top:.65rem;
}
.onMusic{
  -webkit-animation: music 2s infinite linear;
  -o-animation: music 2s infinite linear;
  animation: music 2s infinite linear;
}
.offMusic{
}
@keyframes music{
  0%{transform:rotate(0)}
  to{transform:rotate(360deg)}
}
@-webkit-keyframes music{
  0%{-webkit-transform:rotate(0)}
  to{-webkit-transform:rotate(360deg)}
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.scroll-view {
  touch-action: none;
  position: absolute;
  top: 0;left: 0;bottom: 0;right: 0;
  overflow: hidden;
  z-index: 3;
  background-color: #353ab1;
}
.pg1{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #353ab1;
  font-size: 0;
  .pg1_bottom_txt1{
    color: #888;
    font-size: .5rem;
  }
  .pg1_bottom_btn{
    width:6.4rem;
    height:1.88rem;
    background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
    box-shadow:0rem 0.17rem 0.17rem 0rem rgba(255,224,1,0.4);
    border-radius:0.96rem;
    display: block;
    margin: .68rem auto 0;
    font-size:0.64rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,0.85);
    line-height:1.88rem;
  }
  .all_main{
    width: 100%;height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/main_bg.jpg) repeat-y center 0;
    background-size: 100% 41.685rem;
  }
  .pg1_main{
    width: 16rem;height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/bg.jpg) no-repeat center 0;
    background-size: 100% 18.923rem;
    margin: auto;
    box-sizing: border-box;
    padding-top: 15.845rem;
    .bg{
      display: block;
      width: 100%;
      // height: 17.664rem;
      // background:url(../img/bg.jpg) no-repeat center;
      background-size: 100% 100%;
      .rules{
        width:2.19rem;
        height:1.71rem;
        font-size:0.6rem;
        font-family:PingFang-SC-Heavy,PingFang-SC;
        font-weight:800;
        color:rgba(255,255,255,1);
        line-height:0.85rem;
        position: relative;
        top: 0.59rem;
        left: 6.8rem;
      }
    }
    .txt1{
      width:100%;
      height:1.45rem;
      font-size:0.51rem;
      font-family:PingFang-SC-Medium,PingFang-SC;
      font-weight:500;
      color:rgba(226,118,29,1);
      line-height:0.73rem;
      display: block;
    }
    .txt2{
      height:0.85rem;
      font-size:0.6rem;
      font-family:PingFang-SC-Bold,PingFang-SC;
      font-weight:bold;
      color:rgba(226,118,29,1);
      line-height:0.85rem;
      display: block;
      margin-top: 0.34rem;
    }
    .headlist{
      display: block;
      margin-top: 1.19rem;
      li{
        width: 1.79rem;
        height: 1.79rem;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        border: 2px solid RGBA(228, 205, 255, 1);
        background-color: RGBA(228, 205, 255, 1);
        overflow: hidden;
        margin:0 -.4rem;
        img{
          width: 1.69rem;
          height: 1.69rem;
          display: block;
          margin: .05rem auto 0;
          border-radius: 50%;
        }
        &.more{
          background-color: RGBA(148, 112, 222, 1);
          font-size: .7rem;
          color: RGBA(226, 203, 255, 1);
          text-align: center;
          line-height: 1.79rem;
        }
      }
    }
    .ftit{
      width: 13.14rem;
      text-align: left;
      margin: auto;
      &.ftit1{
        margin-top: 2.09rem;
      }
      .f{
        width: 1.19rem;
        height: .939rem;
        display: inline-block;
        vertical-align: top;
      }
      .t{
        width: 2.27rem;
        height: .869rem;
        display: inline-block;
        vertical-align: top;
        margin-left: .13rem;
      }
      &.ftit2{
        margin-top: 1.75rem;
        margin-bottom: .85rem;
        .f{
          width: 1.19rem;
          height: 1.11rem;
        }
        .t{
          width: 2.688rem;
          height: .683rem;
          margin-top: .25rem;
        }
      }
    }
    .jing_tit{
      width: 4.949rem;
      height: .981rem;
      background:url(../img/jing_tit.png) no-repeat center;
      background-size: 100% 100%;
      position: relative;
      margin: .832rem auto .384rem;
      right: 0;
      left: -4.7rem;
    }
    .all_num{
      width: 14.229rem;
      height: 1.941rem;
      display: block;
      background:url(../img/all_num.png) no-repeat center;
      background-size: 100% 100%;
      margin: 0 auto 0;
      line-height: 1.957rem;
      color: #fa789b;
      font-size: .8rem;
      font-weight: 600;
      text-align: center;
      box-sizing: border-box;
      padding-left: 4rem;
      padding-right: 8.157rem;
      white-space: nowrap;
    }
    .jing{
      width: 14.784rem;
      // height: 9.131rem;
      // border-radius:0.63rem;
      display: block;
      margin: 0 auto 0;
      overflow: hidden;
      // border: 2px solid #4b4a48;
      background: url(../img/jing_bg.png) no-repeat center;
      background-size: 100% 100%;
      box-sizing: border-box;
      padding: .491rem 0;
      li{
        display: block;
        width: 13.867rem;
        height: 2.581rem;
        // background: #fcf5dd;
        // border-radius: .65rem;
        margin: 0.1rem auto 0;
        overflow: hidden;
        background: url(../img/jing_li.png) no-repeat center;
        background-size: 100% 100%;
        .jing_info{
          display: inline-block;
          vertical-align: top;
          width: 9.771rem;
          box-sizing: border-box;
          padding-top: .384rem;
          padding-left: .576rem;
          .jing_txt1{
            display: block;
            font-size: .512rem;
            font-weight: 600;
            color: #fff1ca;
            text-align: left;
            line-height: .811rem;
          }
          .jing_txt2{
            display: block;
            font-size: .512rem;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            // font-weight: 600;
            color: #c8d6fd;
            text-align: left;
            line-height: .875rem;
          }
        }
        .tojing{
          display: inline-block;
          vertical-align: top;
          width: 3.584rem;
          height: 1.259rem;
          background: url(../img/to_jing.png) no-repeat center;
          background-size: 100% 100%;
          margin-top: .563rem;
        }
      }
    }
    .yan{
      // background: RGBA(255, 251, 251, 1);
      min-height: 10rem;
      padding: 0 0 3rem;
      text-align: left;
      width: 14.29rem;
      margin: auto;
    }
    .ulData{
      margin-top: .81rem;
      display: block;
      margin: auto;
      li{
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        margin-bottom: 1.19rem;
        .yan_tit{
          position: relative;
          .n_info{
            display: inline-block;
            vertical-align: top;
            .n1{
              display: inline-block;
              vertical-align: top;
              height: 1.472rem;
              background: url(../img/n1.png) no-repeat center;
              background-size: 100% 100%;
              z-index: 3;
              position: relative;
              text-align: left;
              box-sizing: border-box;
              padding-top: .168rem;
              padding-left: .149rem;
              width: 1.707rem;
              img{
                display: block;
                width: 1.159rem;
                height: 1.159rem;
                border-radius: 50%;
                position: relative;
                z-index: 2;
              }
            }
            .n3{
              width: .491rem;
              height: 1.472rem;
              display: inline-block;
              vertical-align: top;
              background: url(../img/n3.png) no-repeat center;
              background-size: 100% 100%;
              z-index: 1;
              position: relative;
              left: -2px;
            }
            .nickname{
              display: inline-block;
              vertical-align: top;
              height: 1.472rem;
              line-height: 1.045rem;
              background: url(../img/n2.png) no-repeat center;
              background-size: 100% 100%;
              font-size:0.51rem;
              font-weight:500;
              color:#68431c;
              position: relative;
              z-index: 2;
              position: relative;
              padding: .448rem .2rem 0;
              box-sizing: border-box;
              left: -1px;
            }
          }
          .bb{
            background: url(../img/bb.png) no-repeat center;
            background-size: 100% 100%;
            width: 3.307rem;
            height: 1.088rem;
            display: inline-block;
            vertical-align: top;
            margin: .5rem .192rem 0 .341rem;
          }
          .by{
            display: inline-block;
            vertical-align: bottom;
            height: 0.98rem;
            line-height: 0.98rem;
            font-size:0.51rem;
            font-family:PingFang-SC-Medium,PingFang-SC;
            font-weight:500;
            color:#f89365;
          }
          .ft{
            display: inline-block;
            vertical-align: bottom;
            height: 0.98rem;
            line-height: 0.98rem;
            margin-left: .1rem;
            img{
              display: inline-block;
              vertical-align: top;
              width: 0.98rem;
              height: 0.98rem;
              border:none;
              border-radius: 0;
            }
            span{
              font-size:0.51rem;
              font-family:PingFangSC-Regular,PingFang SC;
              font-weight:400;
              color:rgba(226,118,29,1);
            }
          }
        }
        .info{
          display: block;
          vertical-align: top;
          width: 13.4rem;
          margin-right: 0;
          margin-top: .6rem;
          .txt{
            width:13.4rem;
            background:url(../img/txt_border.png) no-repeat center;
            background-size: 100% 100%;
            color: #c8d6fd;
            font-size:0.6rem;
            font-family:PingFang-SC-Medium,PingFang-SC;
            font-weight:500;
            line-height:0.85rem;
            box-sizing: border-box;
            padding: .55rem .68rem .22rem .73rem;
            border-radius: .4rem;
            position: relative;
            text-align: justify;
            word-break: break-all;
            &.no_txt{
              color: #c2baa0;
            }
            &:before{
              content: '';
              position: absolute;
              width: .512rem;
              height: .683rem;
              background: url(../img/arr.png) no-repeat center;
              background-size: 100% 100%;
              left: .73rem;
              top: -.47rem;
            }
            &.show1{
              max-height: 4rem;
              overflow: hidden;
            }
            .zhankai{
              position: absolute;
              height:0.85rem;
              font-size:0.6rem;
              font-family:PingFang-SC-Medium,PingFang-SC;
              font-weight:500;
              color:#4bc2cf;
              line-height:0.85rem;
              // background-color: #fcf5dd;
              bottom: .18rem;
              right: .68rem;
            }
          }
          .txt_f1{
            color:#fc7333;
          }
          .txt_f2{
            color:#35ca55;
          }
          .txt_f3{
            color:#f82727;
          }
        }
        .typetxt{
          height:0.83rem;
          font-size:0.51rem;
          font-family:PingFang-SC-Medium,PingFang-SC;
          font-weight:500;
          color:rgba(255,160,19,1);
          line-height:0.83rem;
          float: right;
          display: inline-block;
          vertical-align: top;
          border-radius:0.49rem;
          padding: 0 .3rem;
          margin-top: .5rem;
          &.type2{
            background:rgba(255,247,191,1);
            color:rgba(255,160,19,1);
          }
          &.type4{
            background:rgba(242,242,242,1);
            color:rgba(164, 164, 164, 1);
          }
          &.type3{
            background:rgba(206,255,227,1);
            color:rgba(7, 179, 197, 1);
          }
          &.type1{
            background:rgba(231,242,255,1);
            color:rgba(96, 69, 244, 1);
          }
        }
        .typereturn{
          width:1.37rem;
          height:0.77rem;
          background:rgba(255,241,191,1);
          font-size:0.51rem;
          font-family:PingFang-SC-Medium,PingFang-SC;
          font-weight:500;
          color:rgba(226, 118, 29, 1);
          line-height:0.77rem;
          float: right;
          display: inline-block;
          vertical-align: top;
          border-radius:0.2rem;
          padding: 0 .1rem;
          margin-top: .5rem;
          margin-right: 2.4rem;
          text-align: center;
        }
        .righttxt{
          position: absolute;
          right: 0;
          top: 0;
          .edit{
            width: 2.069rem;
            height: .619rem;
            background: url(../img/edit.png) no-repeat center;
            background-size: 100% 100%;
            margin-top: .8rem;
          }
        }
        .zan{
          display: inline-block;
          vertical-align: top;
          color: #f05377;
          font-size: .56rem;
          text-align: right;
          height: 1.2rem;
          font-weight:500;
          line-height: 1.2rem;
          background: no-repeat 0 center;
          background-size: .81rem .85rem;
          padding: .4rem 0 .4rem 1rem;
          &.zan1{
            background-image: url(../img/zan1.png);
          }
          &.zan2{
            background-image: url(../img/zan2.png);
          }
        }
        .yan_tit2{
          margin-top: .51rem;
          position: relative;
          text-align: right;
          img{
            display: inline-block;
            vertical-align: top;
            width: 1.28rem;
            height: 1.28rem;
            border-radius: 50%;
            border: 2px solid rgba(231,242,255,1);;
            position: relative;
            z-index: 2;
          }
          .nickname{
            display: inline-block;
            vertical-align: bottom;
            height: 0.98rem;
            line-height: 0.98rem;
            padding:0 .76rem 0 .57rem;
            background-color: rgba(231,242,255,1);;
            font-size:0.51rem;
            font-family:PingFang-SC-Medium,PingFang-SC;
            font-weight:500;
            color:rgba(96, 69, 244, 1);
            margin-right: -.5rem;
            position: relative;
            z-index: 1;
            border-top-left-radius: .8rem;
            border-bottom-left-radius: .8rem;
          }
        }
        .info2{
          display: block;
          vertical-align: top;
          width: 13.4rem;
          margin-right: 0;
          margin-top: .6rem;
          .txt{
            width:9.9rem;
            background:url(../img/txt_border.png) no-repeat center;
            color: #2d2c2e;
            font-size:0.6rem;
            font-family:PingFang-SC-Medium,PingFang-SC;
            font-weight:500;
            color:#c8d6fd;
            line-height:0.85rem;
            box-sizing: border-box;
            padding: .55rem .68rem .22rem .73rem;
            border-radius: .4rem;
            position: relative;
            text-align: justify;
            margin-right: 0;
            margin-left: auto;
            word-break: break-all;
            &:before{
              content: '';
              position: absolute;
              width: .512rem;
              height: .683rem;
              background: url(../img/arr2.png) no-repeat center;
              background-size: 100% 100%;
              right: .73rem;
              top: -.47rem;
            }
          }
        }
      }
    }
  }
  .pg1_tit{
    margin-top:.73rem;
    color: #222222;
    font-size: .6rem;
    width: 14.72rem;
    line-height:0.9rem;
    text-align: justify;
    background:url(../img/rectangle.png) no-repeat center 0;
    background-size: 100% 1.44rem;
    background-color:rgba(255,255,255,1);
    box-shadow:0rem 0.43rem 0.85rem 0rem rgba(0,0,0,0.1);
    border-radius:0rem 0rem 0.43rem 0.43rem;
    padding: 1.49rem .9rem 1.32rem;
    box-sizing: border-box;
  }
  .pg1_tit1{
    width:14.72rem;
    text-align: left;
    height:1.02rem;
    font-size:0.77rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(34,34,34,1);
    line-height:1.07rem;
    margin: .98rem auto 0;
    padding-left: .35rem;
    box-sizing: border-box;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width:0.13rem;
      height:0.85rem;
      background:rgba(255,221,9,1);
      border-radius:0.06rem;
      left: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
  .btnlist{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3.2rem;
    z-index: 990;
    .tea_btn1{
      width: 9.173rem;
      height: 3.051rem;
      background:url(../img/tea_btn1.png) no-repeat center;
      background-size: 100% 100%;
      position: relative;
      z-index: 1;
    }
    .tea_btn2{
      width: 12.053rem;
      height: 2.709rem;
      background:url(../img/tea_btn2.png) no-repeat center;
      background-size: 100% 100%;
      position: relative;
      z-index: 1;
    }
    .tea_btn3{
      width: 9.173rem;
      height: 3.051rem;
      background:url(../img/tea_btn3.png) no-repeat center;
      background-size: 100% 100%;
      position: relative;
      z-index: 1;
    }
    .tea_blist{
      .tea_btn5{
        width: 6.507rem;
        height: 2.709rem;
        background:url(../img/tea_btn5.png) no-repeat center;
        background-size: 100% 100%;
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        margin: 0 .299rem;
      }
      .tea_btn4{
        width: 9.173rem;
        height: 3.051rem;
        background:url(../img/tea_btn4.png) no-repeat center;
        background-size: 100% 100%;
        position: relative;
        z-index: 1;
        display: inline-block;
        vertical-align: top;
        margin: 0 .299rem;
      }
    }
  }
  .p1_tips{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background:url(../img/p1_tips1.png) no-repeat center;
    background-size: 100% 100%;
    height: 2.603rem;
    bottom: 0;
    z-index: 20;
    pointer-events: none;
    .p1_tips2{
      width: 13.013rem;
      height: 3.883rem;
      margin: auto;
      left: 0;
      right: 0;
      top: -1.2rem;
      position: absolute;
    }
  }
}
.navjing{
  position: relative;
  width: 13.504rem;
  height: 17.557rem;
  background:url(../img/you.png) no-repeat center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 5.653rem;
  .close{
    width: 1.323rem;
    height: 1.323rem;
    background:url(../img/you_close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 1.003rem;
    top: .917rem;
  }
  .you_info{
    width: 10.261rem;
    margin: 0 auto 1.045rem;
    text-align: left;
    position: relative;
    img{
      width: 1.357rem;
      height: 1.357rem;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: .3rem;
    }
    .by{
      color:#131313;
      font-size: .562rem;
      font-weight: 600;
      height: 1.557rem;
      line-height: 1.557rem;
      display: inline-block;
      vertical-align: top;
    }
    .bb{
      background: url(../img/bb.png) no-repeat center;
      background-size: 100% 100%;
      width: 3.307rem;
      height: 1.088rem;
      display: inline-block;
      vertical-align: top;
      margin-left: .3rem;
      margin-top: .23rem;
    }
  }
  .jing_next{
    width: 9.067rem;
    height: 2.112rem;
    background:url(../img/jing_next.png) no-repeat center;
    background-size: 100% 100%;
    margin: 1.353rem auto 0;
  }
  .to{
    color:#f56f31;
    font-size: .562rem;
    font-weight: 600;
    position: absolute;
    height: 1.088rem;
    line-height: 1.088rem;
    left: 7.957rem;
    top: 5.035rem;
  }
  .jing_main{
    width: 10.261rem;
    height: 4.813rem;
    overflow: hidden;
    overflow-y: auto;
  }
  .txt1{
    width: 10.453rem;
    height: 1.259rem;
    line-height: 1.259rem;
    text-align: justify;
    color: #131313;
    font-size: .562rem;
    font-weight: 600;
  }
  .txt2{
    width: 100%;
    // height: 1.259rem;
    line-height: .811rem;
    text-align: justify;
    color: #131313;
    font-size: .562rem;
    margin: auto;
  }
  .txt3{
    width: 10.453rem;
    height: 1.259rem;
    line-height: 1.259rem;
    text-align: right;
    color: #131313;
    font-size: .562rem;
    font-weight: 600;
  }
}
.totop{
  width: 1.728rem;
  height: 1.728rem;
  background:url(../img/top.png) no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  z-index: 90;
  bottom: 3rem;
  right: .5rem;
}
.yaninput{
  position: relative;
  width: 14.144rem;
  height: 22.955rem;
  background:url(../img/liuyan.png) no-repeat center;
  background-size: 14.144rem 22.421rem;
  box-sizing: border-box;
  padding-top: 5.461rem;
  margin-top: 1.5rem;
  .yan_close{
    width: 1.344rem;
    height: 1.344rem;
    background:url(../img/you_close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: .811rem;
    top: .896rem;
  }
  .yaninput_info{
    display: block;
    margin: 0 auto .873rem;
    text-align: left;
    padding-left: 1.963rem;
    .yan_head{
      width: 1.607rem;
      height: 1.607rem;
      border-radius: 50%;
      position: relative;
      border: 3px solid #fff;
      display: inline-block;
      vertical-align: top;
    }
    .yan_nick{
      color: #131313;
      font-size: .552rem;
      font-weight: 600;
      position: relative;
      line-height: 1.737rem;
      height: 1.737rem;
      display: inline-block;
      vertical-align: top;
      margin-left: .469rem;
    }
    .bb{
      background: url(../img/bb.png) no-repeat center;
      background-size: 100% 100%;
      width: 3.307rem;
      height: 1.088rem;
      display: inline-block;
      vertical-align: top;
      margin: .3rem 0 0 .341rem;
    }
  }
  .yan_inp{
    width: 7.381rem;
    height: 1.28rem;
    background-color: #d9dfed;
    border-radius: .3rem;
    font-size: .55rem;
    color: #333;
    box-sizing: border-box;
    padding: .2rem .5rem;
    text-align: left;
    line-height: 1.28rem;
    display: block;
    margin-left: 4.736rem;
    &.yan_by{
      margin-top: .32rem;
    }
  }
  .yan_text{
    width: 10.069rem;
    height: 6.221rem;
    background-color: #d9dfed;
    border-radius: .3rem;
    font-size: .55rem;
    color: #333;
    box-sizing: border-box;
    padding: .5rem;
    text-align: left;
    line-height: .92rem;
    display: block;
    margin: 1.6rem auto 0;
  }
  .yan_btn1{
    width: 7.765rem;
    height: 2.091rem;
    background:url(../img/yan_btn1.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 19.307rem;
    margin: auto;
    left: 0;
    right: 0;
  }
  .yan_btn3{
    width: 7.872rem;
    height: 2.709rem;
    background:url(../img/yan_btn3.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    top: 19.243rem;
    margin: auto;
    left: 0;
    right: 0;
  }
  ::-webkit-input-placeholder {
      color: #bdcbb6;
  }
  :-moz-placeholder {
      color: #bdcbb6;
  }
  :-ms-input-placeholder {
      color: #bdcbb6;
  }
}
.navrule{
  width:14.29rem;
  height:17.79rem;
  background:rgba(255,253,248,1);
  box-shadow:0rem 0.09rem 0.6rem 0rem rgba(0,0,0,0.24);
  border-radius:0.51rem;
  position: relative;
  box-sizing: border-box;
  padding-top: .85rem;
  .closerule{
    position: absolute;
    width: 1.96rem;
    height: 1.96rem;
    background: url(../img/closerule.png) no-repeat center;
    background-size: 100% 100%;
    right: 1rem;
    top: -2.3rem;
  }
  .ruletit{
    height:1.07rem;
    font-size:0.77rem;
    font-family:PingFang-SC-Bold,PingFang-SC;
    font-weight:bold;
    color:rgba(175,49,49,1);
    line-height:1.07rem;
    text-shadow:0px 0px 1px rgba(0,0,0,0.24);
    display: block;
    margin-bottom: .77rem;
  }
  p{
    display: block;
    font-size:0.6rem;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:400;
    color:rgba(189,98,22,1);
    line-height:0.85rem;
    width: 12.67rem;
    margin: auto;
    text-align: justify;
    margin-bottom: .8rem;
  }
}
.userTel{
  width:4.03rem;
  height:2.05rem;
  border-radius:0 4.27rem 4.27rem 0;
  border:0.02rem solid rgba(255,255,255,0.25);
  position: fixed;
  font-size:0.68rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  left: 0;
  top: 15.37rem;
  color: RGBA(255, 238, 215, 1);
  background-color:RGBA(169, 83, 0, .6);
  text-align: left;
  box-sizing: border-box;
  padding-left: 0.23rem;
  line-height:2.05rem;
  z-index: 8;
}
.typelist{
  // width: 10.048rem;
  height: 1.707rem;
  // opacity:0.1;
  margin: 1.71rem auto .9rem;
  text-align: center;
  display: block;
  font-size: 0;
  &.active1{
    width: 9.856rem;
    background: url(../img/to_type_1.png) no-repeat center;
    background-size: 100% 100%;
  }
  &.active2{
    width: 14.821rem;
    background: url(../img/to_type_2.png) no-repeat center;
    background-size: 100% 100%;
  }
  // &.active1a{
  //   width: 14.336rem;
  //   background: url(../img/to_type1a.png) no-repeat center;
  //   background-size: 100% 100%;
  // }
  // &.active2a{
  //   width: 14.336rem;
  //   background: url(../img/to_type2a.png) no-repeat center;
  //   background-size: 100% 100%;
  // }
  // &.active3a{
  //   width: 14.336rem;
  //   background: url(../img/to_type3a.png) no-repeat center;
  //   background-size: 100% 100%;
  // }
  li{
    width: 4.928rem;
    height: 1.941rem;
    line-height:1.28rem;
    // background:rgba(175,49,49,1);
    border-radius:0.64rem;
    font-size:0.6rem;
    font-family:PingFang-SC-Medium,PingFang-SC;
    font-weight:600;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    line-height: 1.941rem;
    position: relative;
    top: -.1rem;
    &.active{
      background: url(../img/t_active.png) no-repeat center;
      background-size: 100% 100%;
      color: #68431c;
    }
  }
}
.shadow{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
  background: RGBA(255, 251, 251, 1);
  left: 0;
  top: 0;
}
.bj_mo{
  width: 16rem;
  height: 28.459rem;
  position: relative;
  z-index: 1;
  margin-top: 0;
  margin-left: 0;
  .mo_jpg{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .headimgurl{
    position: absolute;
    width: 1.173rem;
    height: 1.173rem;
    border-radius: 50%;
    left: .576rem;
    top: .917rem;
  }
  .nickname{
    position: absolute;
    font-size: .58rem;
    color: #ffffff;
    top: .917rem;
    line-height: 1.173rem;
    height: 1.173rem;
    left: 2.1rem;
  }
  .qrcode{
    width: 2.603rem;
    height: 2.603rem;
    position: absolute;
    right: 1.109rem;
    bottom: .725rem;
  }
  .mo_txt1{
    color: #fff;
    font-size: .68rem;
    position: absolute;
    line-height: 1.3rem;
    height: 1.3rem;
    width: 12.077rem;
    left: 1.929rem;
    top: 14.505rem;
    text-align: justify;
    font-weight: 600;
  }
  .mo_txt2{
    color: #fff;
    font-size: .68rem;
    position: absolute;
    line-height: 1.32rem;
    width: 12.077rem;
    left: 1.929rem;
    top: 15.829rem;
    text-align: justify;
    height: 6.572rem;
    overflow: hidden;
  }
  .mo_txt3{
    color: #333;
    font-size: .52rem;
    position: absolute;
    line-height: 1rem;
    height: 1rem;
    width: 13.077rem;
    left: 1.429rem;
    top: 22.08rem;
    text-align: right;
    font-weight: 600;
  }
}
.mo_nav_border{
  width: 16rem;
  margin: auto;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 1.067rem;
  .mo_img{
    width: 7.104rem;
    height: 12.757rem;
    border: 3px solid #d9dfed;
    border-radius: .2rem;
    display: block;
    margin: 0 auto;
    background: #d9dfed;
  }
  .mo_close{
    width: 1.408rem;
    height: 1.408rem;
    background:url(../img/you_close.png) no-repeat center;
    background-size: 100% 100%;
    position: fixed;
    right: 1.259rem;
    top: .939rem;
  }
  .mo_nav1{
    width: 11.051rem;
    height: 3.008rem;
    background:url(../img/mo_txt1.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    margin: 0 auto .832rem;
  }
  .mo_txt2{
    width: 6.869rem;
    height: 1.067rem;
    background:url(../img/mo_txt2.png) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    margin: .363rem auto 0;
  }
  .mo_nav2{
    width: 13.931rem;
    height: 4.971rem;
    margin: .704rem auto 0;
    background: #d9dfed;
    border-radius: .3rem;
    box-sizing: border-box;
    padding-top: .384rem;
    .fen_txt{
      background: #fff;
      width: 13.013rem;
      height: 2.453rem;
      margin: auto;
      overflow: hidden;
      color: #0e0e0e;
      font-size: .512rem;
      text-align: justify;
      padding: .213rem .405rem;
      box-sizing: border-box;
      line-height: .704rem;
      overflow-y: auto;
      border-radius: .2rem;
      margin-bottom: .32rem;
    }
    .mo_b1{
      display: inline-block;
      vertical-align: top;
      background: url(../img/mo_b1.png) no-repeat center;
      width: 4.011rem;
      height: 1.493rem;
      background-size: 100% 100%;
    }
    .mo_b2{
      display: inline-block;
      vertical-align: top;
      background: url(../img/mo_b2.png) no-repeat center;
      width: 8.235rem;
      height: 1.493rem;
      background-size: 100% 100%;
      margin-left: .469rem;
    }
  }
}
.navwork{
  position: relative;
  width: 13.504rem;
  height: 17.557rem;
  background:url(../img/you.png) no-repeat center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 5.2653rem;
  .close{
    width: 1.323rem;
    height: 1.323rem;
    background:url(../img/you_close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 1.003rem;
    top: .917rem;
  }
  .you_info{
    width: 10.261rem;
    margin: 0 auto .845rem;
    text-align: left;
    position: relative;
    img{
      width: 1.357rem;
      height: 1.357rem;
      border: 2px solid #fff;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: .3rem;
    }
    .by{
      color:#131313;
      font-size: .562rem;
      font-weight: 600;
      height: 1.557rem;
      line-height: 1.557rem;
      display: inline-block;
      vertical-align: top;
    }
    .bb{
      background: url(../img/bb.png) no-repeat center;
      background-size: 100% 100%;
      width: 3.307rem;
      height: 1.088rem;
      display: inline-block;
      vertical-align: top;
      margin-left: .3rem;
      margin-top: .23rem;
    }
    .zan{
      color: #f05377;
      font-size: .56rem;
      height: 1.2rem;
      font-weight:500;
      line-height: 1.2rem;
      background: no-repeat 0 center;
      background-size: .81rem .85rem;
      padding: 0.2rem 0 0 1rem;
      position: absolute;
      right: 0;
      top: 0;
      &.zan1{
        background-image: url(../img/zan1.png);
      }
      &.zan2{
        background-image: url(../img/zan2.png);
      }
    }
  }
  .work_btn{
    width: 9.067rem;
    height: 2.112rem;
    background:url(../img/work_btn.png) no-repeat center;
    background-size: 100% 100%;
    margin: 1.853rem auto 0;
  }
  .to{
    color:#f56f31;
    font-size: .562rem;
    font-weight: 600;
    position: absolute;
    height: 1.088rem;
    line-height: 1.088rem;
    left: 7.957rem;
    top: 5.035rem;
  }
  .jing_main{
    width: 10.261rem;
    height: 4.813rem;
    overflow: hidden;
    overflow-y: auto;
  }
  .txt1{
    width: 10.453rem;
    height: 1.259rem;
    line-height: 1.259rem;
    text-align: justify;
    color: #131313;
    font-size: .562rem;
    font-weight: 600;
  }
  .txt2{
    width: 100%;
    // height: 1.259rem;
    line-height: .811rem;
    text-align: justify;
    color: #131313;
    font-size: .562rem;
    margin: auto;
  }
  .txt3{
    width: 10.453rem;
    height: 1.259rem;
    line-height: 1.259rem;
    text-align: right;
    color: #131313;
    font-size: .562rem;
    font-weight: 600;
  }
}
.work_buy{
  position: relative;
  width: 14.144rem;
  height: 15.445rem;
  background:url(../img/work_buy.png) no-repeat center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 12.203rem;
  .close{
    width: 1.323rem;
    height: 1.323rem;
    background:url(../img/you_close.png) no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    right: 1.003rem;
    top: .917rem;
  }
  .work_buy_btn{
    width: 7.765rem;
    height: 2.091rem;
    background:url(../img/work_buy_btn.png) no-repeat center;
    background-size: 100% 100%;
    margin: auto;
  }
}
