zanbody,html{position:relative;overflow:hidden;height:100%;min-height: 25.813rem; -webkit-tap-highlight-color:transparent}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,iframe,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
div{margin:0 auto}
:focus{outline:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{outline:0}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%}
input,select,textarea{border:0;background:0;vertical-align:middle;font-size:100%;resize:none;}
b{font-weight:400}
img{border:0}
address,cite,code,em,i,th{font-weight:500;font-style:normal}
.clear{clear:both;font-size:0;line-height:0}
q:after,q:before{content:''}
abbr,acronym{border:0}
a{text-decoration:none}
.m0out{margin:0 auto}
.im{ime-mode:disabled}
a:active,a:link,a:visited{color:#666}
a:active{background:0 0\9}
a:hover{color:#0073b5}
::selection{background:#1dace5;color:#fff}
img::selection{background:0}
.main{z-index:99;font-size:0;}
.slide{height: 100%;position: relative;}
.swiper-container{width: 100%;height: 100%;overflow:hidden;position: relative;}
.animated{
  animation-duration:1s;
  animation-fill-mode:both;
}
.animated.infinite{
  animation-iteration-count:infinite
}
.animated.hinge{
  animation-duration:2s
}
@keyframes pulse{
  0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
  50%{-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}
  100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.pulse{
  animation-name:pulse
}
@keyframes zanfr1{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
@keyframes zanfr2{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
#app {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  top:0;
  left: 0;
  background-color: #fff;
  position: fixed;
  .vjs-poster{
  }
  .vjs-big-play-centered .vjs-big-play-button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin:auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border: none;
  }
}
.nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  left: 0;
  top:0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav1{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  left: 0;
  top:0;
  z-index: 99;
}
.shareimg{
  width: 3.54rem;
  height: 8.68rem;
  display: block;
  pointer-events: none;
  position: relative;
  margin: 2.22rem auto 0;
  right: -4rem;
}
.sharenav_txt{
  height:1.07rem;
  font-size:0.77rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,0.85);
  line-height:1.07rem;
  margin-top: .55rem;
}
.shareclose{
  width:5.35rem;
  height:1.88rem;
  line-height:1.88rem;
  background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
  border-radius:0.96rem;
  margin: .77rem auto 0;
  font-size:0.64rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,0.85);
}
.pg{
	display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;height:100%;
  background:no-repeat center;
  background-size: 100% 100%;
  text-align:center;
  overflow:hidden;
  position:relative;
  font-size: 0;
  box-sizing: border-box;
  z-index: 10;
}
.transparent{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top:0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.fadetxt-enter-active, .fadetxt-leave-active {
  transition: opacity .3s;
}
.fadetxt-enter, .fadetxt-leave-to{
  transition: opacity .3s;
  opacity: 0;
}
.Music{
  position:fixed;
  z-index:999;
  width:1.35rem;
  height:1.35rem;
  background:no-repeat center;
  background-size:1.1rem 1.1rem;
  padding:0.1rem 0.5rem;
  right:0rem;
  top:.65rem;
}
.onMusic{
  -webkit-animation: music 2s infinite linear;
  -o-animation: music 2s infinite linear;
  animation: music 2s infinite linear;
}
.offMusic{
}
@keyframes music{
  0%{transform:rotate(0)}
  to{transform:rotate(360deg)}
}
@-webkit-keyframes music{
  0%{-webkit-transform:rotate(0)}
  to{-webkit-transform:rotate(360deg)}
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.scroll-view {
  touch-action: none;
  position: absolute;
  top: 0;left: 0;bottom: 0;right: 0;
  overflow: hidden;
}
.pg1{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  font-size: 0;
  .pg1_bottom_txt1{
    color: #888;
    font-size: .5rem;
  }
  .pg1_bottom_btn{
    width:6.4rem;
    height:1.88rem;
    background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
    box-shadow:0rem 0.17rem 0.17rem 0rem rgba(255,224,1,0.4);
    border-radius:0.96rem;
    display: block;
    margin: .68rem auto 0;
    font-size:0.64rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,0.85);
    line-height:1.88rem;
  }
  .pg1_main{
    width: 100%;height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }
  .headimgurl{
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    margin: 0 auto 0;
    border-radius: 50%;
  }
  .nickname{
    height:0.94rem;
    font-size:0.68rem;
    font-family:PingFangSC-Medium,PingFangSC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:0.94rem;
    padding: .1rem .5rem;
    background: #FFD017;
    border: 1px solid #FF981E;
    display: inline-block;
    border-radius: 4px;
    margin-top: .5rem;
    position: relative;
    &:before{
      transform: rotate(45deg);
      content: '';
      width: .3rem;
      height: .3rem;
      background: #FFD017;
      border-top: 1px solid #FF981E;
      border-left: 1px solid #FF981E;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: -.2rem;
      margin: auto;
    }
  }
  .pg1_tit{
    margin-top:.73rem;
    color: #222222;
    font-size: .6rem;
    width: 14.72rem;
    line-height:0.9rem;
    text-align: justify;
    background:url(../img/rectangle.png) no-repeat center 0;
    background-size: 100% 1.44rem;
    background-color:rgba(255,255,255,1);
    box-shadow:0rem 0.43rem 0.85rem 0rem rgba(0,0,0,0.1);
    border-radius:0rem 0rem 0.43rem 0.43rem;
    padding: 1.49rem .9rem 1.32rem;
    box-sizing: border-box;
  }
  .pg1_tit1{
    width:14.72rem;
    text-align: left;
    height:1.02rem;
    font-size:0.77rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(34,34,34,1);
    line-height:1.07rem;
    margin: .98rem auto 0;
    padding-left: .35rem;
    box-sizing: border-box;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width:0.13rem;
      height:0.85rem;
      background:rgba(255,221,9,1);
      border-radius:0.06rem;
      left: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
  .pg1_list{
    // background-color: #fff;
    width: 14.72rem;
    margin: auto;
    border-radius: .256rem;
    margin-top: .34rem;
    li{
      background-size: 100% 100%;
      width: 100%;
      margin: 0 auto .9rem;
      box-sizing: border-box;
      position: relative;
      text-align: left;
      // .info_txt3{
      //   width: 3rem;
      //   text-decoration: underline;
      //   font-size:0.51rem;
      //   font-family:PingFangSC-Regular,PingFangSC;
      //   font-weight:400;
      //   color:rgba(153,153,153,1);
      //   line-height:0.73rem;
      //   position: absolute;
      //   bottom: 1.4rem;
      //   right: .5rem;
      // }
      img{
        display: inline-block;
        vertical-align: top;
        width:5.12rem;
        height:3.41rem;
        border-radius: 4px;
      }
      .classinfo_txt1{
        width:14.72rem;
        height:1.02rem;
        font-size:0.63rem;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(34,34,34,1);
        line-height:1.02rem;
        letter-spacing:1px;
        margin-bottom: .19rem;
      }
      .info{
        width: 9rem;
        display: inline-block;
        vertical-align: top;
        margin-left: .43rem;
        .info_txt1{
          height:0.85rem;
          font-size:0.6rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(34,34,34,1);
          line-height:0.85rem;
          text-align: left;
          margin-top: .7rem;
        }
        .info_txt2{
          height:0.79rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(255,179,0,1);
          line-height:0.79rem;
          margin-top: .13rem;
          &.green{
            color: #09BB07;
          }
          span{
            font-size:0.5rem;
            vertical-align: top;
            display: inline-block;
          }
          .flag{
            width: .6rem;
            height: .6rem;
            background: no-repeat center;
            background-size:  .6rem .6rem;
            padding: .1rem;
            vertical-align: top;
            display: inline-block;
            &.green{
              background-image: url(../img/info_flag2.png);
            }
            &.yellow{
              background-image: url(../img/info_flag1.png);
            }
          }
        }
        .info_txt3{
          height:0.79rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:#888;
          line-height:0.79rem;
          margin-top: .13rem;
          .flag{
            width: .6rem;
            height: .6rem;
            background: no-repeat center;
            background-size:  .6rem .6rem;
            padding: .1rem;
            vertical-align: top;
            display: inline-block;
            background-image: url(../img/info_flag3.png);
          }
          span{
            font-size:0.5rem;
            vertical-align: top;
            display: inline-block;
          }
        }
      }
    }
  }
  .zuoye_null{
    width: 5.38rem;
    height: 4.35rem;
    display: block;
    margin: auto;
  }
  .pg1_bottom_add_txt1{
    font-size:0.73rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(34,34,34,1);
    line-height:1.02rem;
    text-align: center;
    margin-top: .23rem;
  }
  .pg1_bottom_add_txt2{
    font-size:0.54rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(136,136,136,1);
    line-height:0.9rem;
    text-align: center;
    margin-top: .04rem;
  }
}
.return{
  font-size: 0.555rem;
  color: #000;
  position: absolute;
  width: 2.108rem;
  height: 1.26rem;
  line-height: 1.26rem;
  top:0;
  margin:auto;
  left: 0;
  right: 12rem;
  text-align: center;
  z-index: 50;
  &:before{
    content: '';
    position: absolute;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 0.329rem;
    height: 0.329rem;
    transform: rotate(45deg);
    margin:auto;
    bottom: 0;
    top: 0;
    left: 0;
  }
}
.menu{
  height:1.02rem;
  font-size:0.64rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,192,0,1);
  line-height:0.9rem;
  right: .55rem;
  height: .68rem;
  position: absolute;
}
.left{
  width: 0;
  height: 0;
  position: absolute;
  border-top: .31rem solid transparent;
  border-bottom: .31rem solid transparent;
  border-right: .34rem solid #FFC000;
  border-left: none;
  top: .9rem;
  left: 3.8rem;
}
.right{
  width: 0;
  height: 0;
  position: absolute;
  border-top: .31rem solid transparent;
  border-bottom: .31rem solid transparent;
  border-left: .34rem solid #FFC000;
  border-right: none;
  top: .9rem;
  right: 3.8rem;
}
.pg2{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: #fff;
  &::-webkit-scrollbar {
    display:none;
  }
  .pg2_main{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    width: 100%;
    margin:auto;
    padding-top: .68rem;
    position: relative;
    overflow-x: hidden;
    .pg2_txt1{
      margin-top:.96rem;
      height:1.02rem;
      font-size:0.73rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:1.02rem;
      text-align: justify;
    }
    .pg2_txt2{
      margin-top:.34rem;
      font-size:0.64rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(34,34,34,1);
      line-height:0.9rem;
      text-align: justify;
    }
    .pg2_tit{
      height:1.02rem;
      font-size:0.73rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(34,34,34,1);
      line-height:1.02rem;
    }
    .pg2_banner{
      width: 100%;
      display: block;
      margin: 1rem auto 0;
    }
    .pg2_center{
      width: 14.72rem;
      display: block;
      background-color: #fff;
      margin:.55rem auto 0;
      .pg2_center_title{
        line-height: 1.728rem;
        height: 1.728rem;
        text-align: center;
        color: #2d1881;
        font-size: 0.981rem;
        font-weight: 600;
        margin-bottom: 0.405rem;
      }
    }
    .pg2_userimg{
      width: 100%;
      display: block;
    }
    .pg2_center1_txt1{
      height:1.02rem;
      font-size:0.53rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(34,34,34,1);
      line-height:1.02rem;
      text-align: center;
      margin-top: .68rem;
    }
    .pg2_center1{
      padding-top: 1.87rem;
      font-size: 0;
      .zuoyeShowBtn{
        width:6.4rem;
        height:1.88rem;
        background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
        box-shadow:0rem 0.17rem 0.17rem 0rem rgba(255,224,1,0.4);
        border-radius:0.96rem;
        position: relative;
        .btnname{
          height:1.88rem;
          line-height:1.88rem;
          font-size:0.64rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(0,0,0,0.85);
          display: block;
          position: absolute;
          margin: auto;
          left: 0;
          top: 0;
          z-index: 0;
          right: 0;
        }
        input{
          width: 100%;
          position: absolute;
          opacity: 0;
          height: 0;
          left: 0;
          top: 0;
          z-index: 5;
          height: 100%;
        }
      }
    }
    .wl_up{
      width:14.72rem;
      height:8.28rem;
      border-radius:0.21rem;
      position: relative;
      margin-left: 0;
      overflow: hidden;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
      }
      video{
        display: block;
        margin:auto;
        width: 100%;
        height: 100%;
        background-color: #000;
      }
    }
    .wl_up_btn{
      display: inline-block;
      vertical-align: top;
      position: relative;
      width:6.4rem;
      height:1.88rem;
      text-align: center;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
      }
      span{
        display: inline-block;
        vertical-align: top;
        font-size:0.64rem;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(255,192,0,1);
        line-height:1.88rem;
      }
      .reupload{
        width:0.64rem;
        height:0.6rem;
        display: inline-block;
        vertical-align: top;
        background:url(../img/reupload.png) no-repeat center;
        background-size: 100% 100%;
        margin-top: .7rem;
        margin-right: .26rem;
      }
      div{
        width: 100%;
        height: 100%;
      }
    }
    .wl_pg2_btn{
      width:6.4rem;
      height:1.88rem;
      background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
      box-shadow:0rem 0.17rem 0.17rem 0rem rgba(255,224,1,0.4);
      border-radius:0.96rem;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size:0.64rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,0.85);
      line-height:1.88rem;
    }
  }
  .wl_pg2_alert{
    width: 12.8rem;
    height: 10.453rem;
    background:url('/static/img/wl_pg2_alert.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 8.235rem;
    margin-bottom: 3rem;
    img{
      width: 4.672rem;
      margin:auto;
      text-align: center;
      display: block;
    }
  }
}
.main4{
  width: 100%;
  margin-top: 2.46rem;
  .rule_tit{
    // background:url(../img/rule_tit.png) no-repeat center 0;
    background-size: 100% 100%;
    width: 100%;
    height: 1.157rem;
    line-height: 1.157rem;
    font-size:0.65rem;
    font-weight:600;
    color:rgba(68,68,68,1);
    line-height:0.79rem;
    margin-top: .34rem;
  }
  .rule_body{
    background-color: #fff;
    width: 100%;
    .rule{
      width: 16rem;
      text-align: left;
      padding-left: 1.39rem;
      box-sizing: border-box;
      padding-top: 0.39rem;
      margin: auto;
      list-style-type: none;
      li{
        margin-bottom: .45rem;
        line-height: 1rem;
      }
      span{
        border-radius: 50%;
        width: .64rem;
        height: .64rem;
        background-color: rgba(255,222,49,1);
        line-height: .64rem;
        color: #fff;
        font-size: .55rem;
        text-align: center;
        display: inline-block;
        vertical-align: top;
      }
      div{
        display: inline-block;
        vertical-align: top;
        height:0.79rem;
        font-size:0.55rem;
        font-weight:400;
        color:rgba(68,68,68,1);
        line-height:0.79rem;
        margin-left: .34rem;
      }
    }
    .rule_bottom{
      width: 16rem;
      margin: .68rem auto 0;
      font-size:0.55rem;
      font-family:PingFangSC-Thin,PingFang SC;
      font-weight:100;
      color:rgba(166,166,166,1);
      line-height:0.79rem;
    }
  }
}
.pg3{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background-size: 100% 28.459rem;
  background-color: #fff;
  color: #000;
  .pg3_main{
    padding-top: .68rem;
    width: 100%;height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }
  .pg3_btn{
    width:100%;
    height:2.56rem;
    background:rgba(255,255,255,1);
    box-shadow:0rem -0.09rem 0.85rem 0rem rgba(178,178,178,0.42);
    border-radius:0.43rem 0.43rem 0rem 0rem;
    margin: auto;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0;
    .pg3_btn1{
      width:12.8rem;
      height:1.88rem;
      background:linear-gradient(90deg,rgba(255,225,0,1) 0%,rgba(255,204,39,1) 100%);
      box-shadow:0rem 0.17rem 0.17rem 0rem rgba(255,224,1,0.4);
      border-radius:0.96rem;
      margin: .34rem auto 0;
      font-size:0.64rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,0.85);
      line-height: 1.88rem;
    }
    .btn_flag{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 4.65rem;
      height: 4.54rem;
    }
    a{
      background:url(../img/pg3_btn1.png) no-repeat center;
      background-size: 6.02rem 2.15rem;
      height: 2.15rem;
      width: 6.02rem;
      position: absolute;
      top: .41rem;
      right: .41rem;
      z-index: 2;
    }
    .pg3_btn_txt{
      height:1.45rem;
      font-size:0.64rem;
      font-family:FZY4JW--GB1-0,FZY4JW--GB1;
      font-weight:normal;
      color:rgba(255,130,23,1);
      line-height:0.77rem;
      text-align: left;
      display: block;
      position: absolute;
      z-index: 1;
      top: .58rem;
      margin: auto;
      left: 0;
      right: 1rem;
      width: 7rem;
    }
  }
  .pg3_tit{
    height:1.02rem;
    font-size:0.73rem;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(34,34,34,1);
    line-height:1.02rem;
  }
  .pg3_tit1{
    width:14.72rem;
    height:1.79rem;
    font-size:0.64rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(34,34,34,1);
    line-height:0.9rem;
    text-align: justify;
  }
  .pg3_main1{
    width: 14.72rem;
    display: block;
    background-color: #fff;
    margin:.55rem auto 0;
    .pg3_border{
      width:14.72rem;
      height:8.28rem;
      border-radius:0.21rem;
      position: relative;
      margin-left: 0;
      overflow: hidden;
      video{
        height: 100%;
        width: 100%;
        display: block;
      }
    }
    .video-player{
      width: 100%;height: 100%;
      position: relative;
      .video-js{
        width: 100%;height: 100%;
        position: relative;
      }
    }
  }
  .pg3_main2{
    width: 14.72rem;
    min-height: 8.248rem;
    background-color: #fff;
    margin: 0.77rem auto 0;
    overflow: hidden;
    padding-bottom: 1rem;
    .pg3_txt1{
      height:1.02rem;
      font-size:0.73rem;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,1);
      line-height:1.02rem;
      text-align: justify;
    }
    .pg3_txt2{
      margin-top:.34rem;
      font-size:0.64rem;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(34,34,34,1);
      text-align: justify;
      p{
        width: 100%;
        display: block;
        margin:auto;
        line-height:0.9rem;
        text-align: justify;
        box-sizing: border-box;
        word-break: break-all;
      }
    }
    .piao{
      margin-top: .5rem;
      padding-bottom: .8rem;
      position: relative;
      .txt1{
        display: block;
        margin: .192rem auto 0;
        color: #000;
        font-size: .55rem;
        border-radius: 0 8px 8px 8px;
        height:1.83rem;
        box-shadow:0rem 0.09rem 0.09rem 0rem rgba(255,224,1,0.2);
        width: 13rem;
        min-width: 3.5rem;
        max-width: 13rem;
        line-height: 1.83rem;
        box-sizing: border-box;
        margin-top: .5rem;
        background:url(../img/voice1.png) no-repeat .5rem center;
        background-size: .524rem .81rem;
        background-color: rgba(255,221,9,1);
        text-align: right;
        margin-left: 0.58rem;
        text-align: left;
        padding-left: 1.79rem;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          width: .58rem;
          height: 1.83rem;
          top: 0;
          left: -.52rem;
          z-index: 0;
          background:url(../img/voiceTit.png) no-repeat center;
          background-size: 100% 100%;
        }
        &.red:after{
          content: '';
          position: absolute;
          width:0.34rem;
          height:0.34rem;
          background:rgba(255,0,0,1);
          border-radius: 50%;
          top: .13rem;
          right: -.47rem;
        }
        &.voiceActive{
          background-image: url(../img/voice2.gif);
        }
      }
    }
  }
}
.vjs-icon-circle:before{
  color: #FFDD09;
}
.video-js .vjs-play-progress:before{
  color: #FFDD09;
}
.video-js .vjs-progress-holder .vjs-play-progress{
  background: #FFDD09;
}
