body,html{position:relative;overflow:hidden;height:100%;min-height: 25.813rem; -webkit-tap-highlight-color:transparent}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,iframe,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
div{margin:0 auto}
:focus{outline:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{outline:0}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%}
input,select,textarea{border:0;background:0;vertical-align:middle;font-size:100%;resize:none;}
b{font-weight:400}
img{border:0}
address,cite,code,em,i,th{font-weight:500;font-style:normal}
.clear{clear:both;font-size:0;line-height:0}
q:after,q:before{content:''}
abbr,acronym{border:0}
a{text-decoration:none}
.m0out{margin:0 auto}
.im{ime-mode:disabled}
a:active,a:link,a:visited{color:#666}
a:active{background:0 0\9}
a:hover{color:#0073b5}
::selection{background:#1dace5;color:#fff}
img::selection{background:0}
.main{z-index:99;font-size:0;}
.slide{height: 100%;position: relative;}
.swiper-container{width: 100%;height: 100%;overflow:hidden;position: relative;}
.animated{
  animation-duration:1s;
  animation-fill-mode:both;
}
.animated.infinite{
  animation-iteration-count:infinite
}
.animated.hinge{
  animation-duration:2s
}
@keyframes pulse{
  0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
  50%{-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}
  100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.pulse{
  animation-name:pulse
}
@keyframes zanfr1{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
@keyframes zanfr2{
  0%{transform:scale3d(1,1,1);}
  50%{transform:scale3d(2,2,2);}
  100%{transform:scale3d(1,1,1);}
}
#app {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  top:0;
  left: 0;
  background-color: #2d1881;
  position: fixed;
  .vjs-poster{
  }
  .vjs-big-play-centered .vjs-big-play-button{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin:auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
  }
}
.nav{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  left: 0;
  top:0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pg{
	display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;height:100%;
  background:no-repeat center;
  background-size: 100% 100%;
  text-align:center;
  overflow:hidden;
  position:relative;
  font-size: 0;
  box-sizing: border-box;
  z-index: 10;
}
.transparent{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  left: 0;
  top:0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.fadetxt-enter-active, .fadetxt-leave-active {
  transition: opacity .3s;
}
.fadetxt-enter, .fadetxt-leave-to{
  transition: opacity .3s;
  opacity: 0;
}
.Music{
  position:fixed;
  z-index:999;
  width:1.35rem;
  height:1.35rem;
  background:no-repeat center;
  background-size:1.1rem 1.1rem;
  padding:0.1rem 0.5rem;
  right:0rem;
  top:.65rem;
}
.onMusic{
  -webkit-animation: music 2s infinite linear;
  -o-animation: music 2s infinite linear;
  animation: music 2s infinite linear;
}
.offMusic{
}
@keyframes music{
  0%{transform:rotate(0)}
  to{transform:rotate(360deg)}
}
@-webkit-keyframes music{
  0%{-webkit-transform:rotate(0)}
  to{-webkit-transform:rotate(360deg)}
}
.load{
  background-image: url('../img/wl_bg.jpg');
  background-color: #2d1881;
  .wl_logo{
    width: 8.128rem;
    pointer-events: none;
    position: absolute;margin:auto;
    left: 0;right: 0;
    top:0.832rem;
  }
  .wl_load_txt1{
    width: 9.728rem;
    display: block;
    margin:0 auto;
    pointer-events: none;
  }
  .loading{
    margin:0.512rem auto;
    border:1px solid #fff;
    width: 8.661rem;
    height: 0.52rem;
    text-align: left;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    padding:.08rem .1rem 0;
    .loading_line{
      width: 0%;
      height: .25rem;
      background-color: #fff;
      border-radius: 10px;margin-left: 0;margin-right: auto;
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  transition: opacity .1s;
  opacity: 0;
}
.scroll-view {
  touch-action: none;
  position: absolute;
  top: 0;left: 0;bottom: 0;right: 0;
  overflow: hidden;
}
.pg1{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2d1881;
  .wl_pg1_alert{
    width: 12.8rem;
    height: 10.453rem;
    background:url('/static/img/wl_pg1_alert.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 8.235rem;
    margin-bottom: 3rem;
    position: relative;
    img{
      width: 4.672rem;
      margin:auto;
      text-align: center;
      display: block;
    }
    .close{
      width: 1.5rem;height: 1.5rem;
      position: absolute;
      right: .8rem;
      top: 2.8rem;
      &:before{
        content: '';
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: #333;
        transform: rotate(45deg);
        margin:auto;
        left: 0;right: 0;top:0;bottom: 0;
      }
      &:after{
        content: '';
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: #333;
        transform: rotate(135deg);
        margin:auto;
        left: 0;right: 0;top:0;bottom: 0;
      }
    }
  }
  .wl_pg1_bg{
    width: 16rem;
    display: block;
    margin:auto;
  }
  .wl_pg1_txt1{
    width: 14.933rem;
    display: block;margin:2.688rem auto 0;
    position: relative;
    background-color: #3f2bcb;min-height: 3rem;
    border-radius: 6px;
    box-sizing: border-box;
    padding-top: 2.069rem;
    &:before{
      content: '';
      position: absolute;
      width: 12.544rem;
      height: 2.091rem;
      background:url('../img/wl_pg1_txt1.png') no-repeat center;
      background-size: 100% 100%;
      left: 0;right: 0;margin:auto;
      top:-1.237rem;
    }
    .wl_pg1_txt2{
      width: 13.845rem;
      border-radius: 6px;
      background-color: #2f76f6;
      color: #fff;
      font-size: 0.597rem;
      text-align: justify;
      box-sizing: border-box;
      padding:0.363rem 0.555rem;
      margin:0 auto 1.045rem;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 0;height: 0;border-bottom: none;
        border-top:0.683rem solid #2f76f6;
        border-left: 0.512rem solid transparent;
        border-right: 0.512rem solid transparent;
        bottom: -0.58rem;
        left: 1.813rem;
      }
    }
    .wl_pg1_txt3{
      width: 13.845rem;
      height: 16.981rem;
      border-radius: 6px;
      background-color: #2f76f6;
      margin:auto;
      box-sizing: border-box;
      padding-top:0.341rem;
      .body{
        color: #fff;
        font-weight: 600;display: block;
        text-align: left;
        font-size: 0.683rem;
        height: 1rem;
        line-height: 1rem;
        width: 12.629rem;
        margin:0.747rem auto 0;
      }
      .tit{
        color: #fff;
        font-weight: 600;display: block;
        text-align: left;
        font-size: 0.683rem;
        height: 1.408rem;
        line-height: 1.408rem;
        width: 12.629rem;
        margin:auto;
      }
      .step{
        color: #fff;
        font-size: 0.54rem;
        width: 12.829rem;
        text-align: justify;
        line-height: 0.96rem;
      }
      .wl_pg1_video{
        width: 12.629rem;
        height: 7.125rem;
        border-radius: 8px;
        background-color: #e4e4e4;
        .video-player{
          width: 100%;height: 100%;
          position: relative;
          .video-js{
            width: 100%;height: 100%;
            position: relative;
          }
        }
      }
    }
    .wl_pg1_txt4{
      text-align: center;
      display: block;
      width: 100%;
      margin-top: 0.64rem;
      li{
        width: 4.395rem;
        height: 1.6rem;
        line-height: 1.6rem;
        color: #fff;
        font-weight: 600;
        font-size: 0.597rem;
        display: inline-block;
        vertical-align: top;
        background:url('../img/wl_pg1_li.png') no-repeat center;
        background-size: 100% 100%;
        margin:0 0.128rem 0.341rem;
        &.active{
          background-image: url('../img/wl_pg1_active.png');
          color: #04348c;
        }
      }
    }
  }
  .wl_4{
    width: 16rem;
    display: block;
    margin:1.579rem auto 0;
    pointer-events: none;
  }
  .dongtai{
    color: #fff;
    font-size: 0.64rem;
    font-weight: 600;
    display: block;text-align: center;
    margin-top: 1.451rem;
    height: 1.088rem;
    line-height: 1.088rem;
  }
  .wl_pg1_dt{
    display: block;margin:0.64rem auto 1.835rem;
    width: 12.949rem;
  }
  .wl_pg1_btnlist{
    position:absolute;
    height: 2.56rem;
    width: 100%;
    margin:auto;
    left: 0;
    right: 0;
    bottom: 1.237rem;
    text-align: center;
    z-index: 50;
    .wl_pg1_btn{
      display: inline-block;
      vertical-align: top;
      width: 7.147rem;
      height: 2.56rem;
      background:no-repeat center;
      background-size: 100% 100%;
      margin:0 0.256rem;
      &.wl_pg1_btn1{
        background-image: url('../img/wl_pg1_btn1.png');
      }
      &.wl_pg1_btn2{
        background-image: url('../img/wl_pg1_btn2.png');
      }
    }
  }
}
.return{
  font-size: 0.555rem;
  color: #fff;
  position: absolute;
  width: 2.108rem;
  height: 1.26rem;
  line-height: 1.26rem;
  top:0.312rem;
  margin:auto;
  left: 0;
  right: 12rem;
  text-align: center;
  z-index: 50;
  &:before{
    content: '';
    position: absolute;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 0.469rem;
    height: 0.469rem;
    transform: rotate(45deg);
    margin:auto;
    bottom: 0;
    top: 0;
    left: 0;
  }
}
.pg2{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: #2d1881;
  &::-webkit-scrollbar {
    display:none;
  }
  .pg2_main{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    width: 100%;
    background: url('../img/wl_bg.jpg') no-repeat center 0;
    background-size: 100% 28.459rem;
    margin:auto;
    padding-top: 1.941rem;
    position: relative;
    .pg2_tit{
      line-height: 1.728rem;
      height: 1.728rem;
      text-align: center;
      color: #fff;
      font-size: 0.981rem;
      font-weight: 600;
      margin-bottom: 0.405rem;
    }
    .pg2_center{
      width: 14.933rem;
      display: block;
      background-color: #fff;
      border-radius: 10px;
      box-sizing: border-box;
      padding-top: 0.768rem;
      padding-left: 0.853rem;
      padding-right: 0.653rem;
    }
    .wl_pg2_info{
      display: block;
      text-align: left;
      line-height: 0.939rem;
      font-size: 0.683rem;
      height: 0.939rem;
      font-weight: 600;
      position: relative;
      padding-left: 1.329rem;
      &.wl_pg2_info1:before{
        content: '';
        width: 0.981rem;
        height: 0.811rem;
        top:0;
        left: 0;
        bottom: 0;
        margin:auto;
        background:url('../img/wl_pg2_info.png') no-repeat center;
        background-size: 100% 100%;
        position: absolute;
      }
      &.wl_pg2_info2:before{
        content: '';
        width: 0.981rem;
        height: 0.939rem;
        top:0;
        left: 0;
        bottom: 0;
        margin:auto;
        background:url('../img/wl_pg2_info2.png') no-repeat center;
        background-size: 0.939rem 0.939rem;
        position: absolute;
      }
      &.wl_pg2_info3:before{
        content: '';
        width: 1.024rem;
        height: 0.725rem;
        top:0;
        left: 0;
        bottom: 0;
        margin:auto;
        background:url('../img/wl_pg2_info3.png') no-repeat center;
        background-size: 100% 100%;
        position: absolute;
      }
      &.wl_pg2_info4{
        margin-top: 1.173rem;
        &:before{
          content: '';
          width: 0.939rem;
          height: 0.768rem;
          top:0;
          left: 0;
          bottom: 0;
          margin:auto;
          background:url('../img/wl_pg2_info4.png') no-repeat center;
          background-size: 100% 100%;
          position: absolute;
        }
      }

      span{
        color: #cd0510;
      }
    }
    .wl_pg2_msg{
      margin-top: 0.768rem;
      display: block;
      margin-bottom: 1.109rem;
      white-space: nowrap;
      div{
        display: block;
        height: 1.523rem;
        line-height: 1.523rem;
        text-align: left;
        padding-bottom: 0.64rem;
        white-space: nowrap;
        font-size: 0;
        span{
          width: 1.237rem;
          height: 1.523rem;
          color: #333;
          font-size:0.597rem;
          display: inline-block;vertical-align: top;
          position: relative;
          &:after{
            content: '*';
            font-size: .5rem;
            color: #cd0510;
            position: absolute;
            top:0;
            right: -.2rem;
          }
        }
        input{
          display: inline-block;vertical-align: top;
          height: 100%;
          width: 11.4rem;
          border-radius: 4px;
          border: 1px solid #999;
          margin-left: 0.512rem;
          font-size: .5rem;
          color: #333;
          box-sizing: border-box;
          padding-left:.5rem;
          user-select: text;
          -webkit-user-select: text;
        }
      }
    }
    .wl_info_tit{
      display: block;
      width: 13.269rem;
      height: 1.532rem;
      border-radius: 4px;
      border: 1px solid #999;
      font-size: .5rem;
      color: #333;
      margin-top: 0.725rem;
      box-sizing: border-box;
      padding-left:.5rem;
      margin-bottom: 1.237rem;
    }
    .wl_up_tips{
      width: 13.269rem;
      text-align: justify;
      margin:0.448rem auto 0.811rem 0;
      p{
        display: block;
        color: #333;
        font-size: 0.597rem;
      }
    }
    .wl_up{
      width: 13.227rem;
      height: 7.403rem;
      border:1px solid #999;
      position: relative;
      margin-left: 0;
      border-radius: 4px;
      background:url('../img/wl_up.png') no-repeat center;
      background-size: 3.648rem 2.496rem;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
      }
      video{
        display: block;
        margin:auto;
        width: 100%;
        height: 100%;
        background-color: #000;
      }
    }
    .wl_up_btn{
      display: block;
      margin:.5rem auto .5rem;
      position: relative;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 1;
      }
      span{
        font-size: .55rem;
        display: block;
        width: 6rem;
        height: 1.2rem;line-height: 1.2rem;
        margin:auto;
        color: #0c30a0;
      }
      div{
        width: 100%;
        height: 100%;
      }
    }
    .wl_pg2_textarea{
      display: block;
      color: #333;
      font-size: 0.555rem;
      width: 13.227rem;
      height: 8.96rem;
      border-radius: 4px;
      border:1px solid #999999;
      box-sizing: border-box;
      padding:.5rem;
      margin-top: 0.811rem;
      word-break: break-all;
    }
    .wl_pg2_btn{
      width: 9.28rem;
      display: block;
      margin:1.216rem auto 0;
      position: relative;
      z-index: 50;
    }
  }
  .wl_pg2_alert{
    width: 12.8rem;
    height: 10.453rem;
    background:url('/static/img/wl_pg2_alert.png') no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 8.235rem;
    margin-bottom: 3rem;
    img{
      width: 4.672rem;
      margin:auto;
      text-align: center;
      display: block;
    }
  }
}
.pg3{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background: url('../img/wl_bg.jpg') no-repeat center 0;
  background-size: 100% 28.459rem;
  background-color: #2d1881;
  color: #fff;
  .pg3_tit{
    line-height: 1.528rem;
    height: 1.528rem;
    text-align: center;
    color: #fff;
    font-size: 0.981rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .pg3_main1{
    width: 14.933rem;
    height: 10.648rem;
    background-color: #fff;
    border-radius: 8px;
    .pg3_ctit{
      height: 1.059rem;
      line-height: 1.059rem;
      text-align: center;
      color: #333;
      font-size: 0.683rem;
      font-weight: 600;
      margin:0.241rem 0;
    }
    .pg3_border{
      width: 13.803rem;
      height: 7.723rem;
      display: block;margin:auto;
      background-color: #000;
      border-radius: 8px;
    }
    .video-player{
      width: 100%;height: 100%;
      position: relative;
      .video-js{
        width: 100%;height: 100%;
        position: relative;
      }
    }
    .pg3_num{
      margin-top: 0.291rem;
      li{
        color: #333;
        font-size: 0.597rem;
        display: inline-block;vertical-align: top;
        width: 6.976rem;
        height: 1.067rem;
        line-height: 1.067rem;
        overflow: hidden;
        position: relative;
      }
      img{
        display: inline-block;vertical-align: top;
        width: 0.683rem;
        margin-top: .2rem;
        margin-right: 0.341rem;
      }
      .bo:before{
        content: '';
        width: 1px;
        height: 0.619rem;
        margin:auto;
        left: 0;
        top:0;
        bottom: 0;
        background-color: #999999;
        position: absolute;
      }
    }
  }
  .pg3_main2{
    width: 14.933rem;
    height: 8.648rem;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 0.64rem;
    .pg3_ctit{
      height: 1.259rem;
      line-height: 1.259rem;
      text-align: center;
      color: #333;
      font-size: 0.683rem;
      font-weight: 600;
      margin:0.341rem 0;
    }
    .pg3_txt{
      width: 13.76rem;
      height: 6rem;
      border-radius: 8px;
      border:1px solid #999999;
      font-size: 0.555rem;
      color: #999;
      box-sizing: border-box;
      padding:.4rem;
      text-align: justify;
      word-break: break-all;
      overflow-x:hidden;
      overflow-y: auto
      p{
        overflow-y: scroll;
        width: 100%;
        display: block;
        margin:auto;
      }
    }
  }
  .pg3_btnlist{
    li{
      display: inline-block;vertical-align: top;
      width: 7.104rem;
      height: 2.261rem;
      background:url('../img/wl_pg3_btn.png') no-repeat center;
      background-size: 100% 100%;
      margin:0.64rem 0.299rem 0;
      font-size: 0.64rem;
      color: #04348c;
      line-height: 2.261rem;
      font-weight: 600;
      img{
        width: 1.067rem;
        height: 0.96rem;
        display: inline-block;
        vertical-align: sub;
        margin-right: 0.305rem;
      }
      .iszan{
        width: 1.067rem;
        height: 0.96rem;
        display: inline-block;
        vertical-align: sub;
        margin-right: 0.305rem;
        background:no-repeat center;
        background-size: 100% 100%;
      }
      .zan1{
        background-image: url('../img/wl_pg3_zan1.png');
      }
      .zan2{
        background-image: url('../img/wl_pg3_zan2.png');
      }
      .zanfr.zan1{
        animation:zanfr1 1s 1;
      }
      .zanfr.zan2{
        animation:zanfr2 1s 1;
      }
    }
  }
  .wl_share{
    position: absolute;
    width: 11.563rem;
    pointer-events: none;
    right: 1.301rem;
    top:1.408rem;
  }
  .pg3_txt::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .pg3_txt::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #2d1881;
  }
  .pg3_txt::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
  }
}
.ipx .pg3{
  .pg3_tit{
    line-height: 1.728rem;
    height: 1.728rem;
    margin-bottom: 0.299rem;
    color: #fff;
  }
  .pg3_main1{
    height: 11.648rem;
    .pg3_ctit{
      height: 1.259rem;
      line-height: 1.259rem;
      margin:0.341rem 0;
    }
    .pg3_num{
      margin-top: 0.491rem;
    }
  }
  .pg3_main2{
    height: 11.648rem;
    .pg3_txt{
      height: 8.6rem;
    }
  }
}
.pg4{
  width: 100%;height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2d1881;
  .pg4_main{
    background:url('/static/img/wl_pg4.jpg') no-repeat center 0;
    background-size: 16rem 10.005rem;
    width: 16rem;
    padding-top: 10.624rem;
    .wl_pg4_btn1{
      width: 5.675rem;
      position: absolute;
      top:3.332rem;
      margin:auto;
      left: 0;
      right: -2rem;
      z-index: 50;
      padding: 4rem 8rem 0 0;
    }
    .wl_pg4_return{
      width: 3.933rem;
      margin:1rem auto 0;
      display: block;
    }
    .wl_pg4_btnlist{
      height: 1.643rem;
      width: 14.933rem;
      margin:auto;
      display: flex;
      justify-content:space-between;
      align-items: flex-end;
      position: relative;
      z-index: 2;
      li{
        height: 1.365rem;
        line-height: 1.365rem;
        display: inline-block;
        vertical-align: bottom;
        width: 4.907rem;
        background-color: #3f2bcb;
        font-size: 0.64rem;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &.active{
          height: 1.643rem;
          line-height: 1.643rem;
          background-color: #2f76f6;
          font-weight: 600;
        }
      }
    }
    .wl_pg4_ul{
      position: relative;
      z-index: 1;
      top:-2px;
      background-color: #2f76f6;
      width: 14.933rem;
      margin:auto;
      display: block;
      padding-top: 0.896rem;
      font-size: 0;
      .wl_jp{
        width: 1.6rem;
        height: 1.899rem;
        position: absolute;
        background:url('../img/wl_jp.png') no-repeat center/cover;
        z-index: 51;
        color: #fff;
        font-size: 0.725rem;
        text-align: center;box-sizing: border-box;
        line-height: 0.832rem;
        padding-top: 0.405rem;
        left: -0.384rem;
        top:-0.341rem;
      }
      li{
        display: block;
        background-color: #fff;
        height: 6.784rem;
        width: 13.824rem;
        margin:auto;
        border-radius: 8px;
        margin-bottom: 0.853rem;
        box-sizing: border-box;
        padding-top: 0.363rem;
        position: relative;
        .up{
          height: 4.309rem;
          text-align: center;
          .up_left{
            height: 4.309rem;
            width: 7.872rem;
            display:inline-block;
            vertical-align: top;
            background: no-repeat center;
            background-size: contain;
            background-color: #000;
            position: relative;
          }
          .up_right{
            height: 4.309rem;
            display:inline-block;
            vertical-align: top;
            width: 5.12rem;
            background-color: #f8f8f8;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            color: #333333;
            box-sizing: border-box;
            padding:0.363rem 0.277rem 0;
            .tit{
              width: 100%;
              height: 1.707rem;
              font-size: 0.597rem;
              overflow:hidden;
              text-align: justify;
              word-break: break-all;
              line-height: 0.853rem;
              pointer-events: none;
            }
            .grade{
              pointer-events: none;
              width: 100%;
              font-size: 0.597rem;
              overflow:hidden;
              text-align: justify;
              white-space: nowrap;
              line-height: 0.853rem;
              text-overflow: ellipsis;
              margin:.22rem 0;
            }
          }
        }
        .video-player{
          width: 100%;height: 100%;
          position: relative;
          .video-js{
            width: 100%;height: 100%;
            position: relative;
          }
        }
        .down{
          height: 1.067rem;
          width: 100%;
          text-align: center;
          color: #333333;
          margin-top: 0.555rem;
          .down_left{
            height: 1.067rem;
            line-height: 1.067rem;
            width: 7.872rem;
            display:inline-block;
            vertical-align: top;
            font-size: 0.597rem;
          }
          .down_right{
            display:inline-block;
            line-height: 1.067rem;
            vertical-align: top;
            width: 5.12rem;
            height: 1.067rem;
            font-size: 0.597rem;
            pointer-events: none;
          }
          i{
            pointer-events: none;
            width: 1.131rem;
            height: 1.067rem;
            background:no-repeat center;
            background-size: 100% 100%;
            display:inline-block;
            vertical-align: top;
            margin-right: 0.363rem;
            &.zan1{
              background-image: url('../img/wl_pg4_zan1.png');
            }
            &.zan2{
              background-image: url('../img/wl_pg4_zan2.png');
            }
            &.zanfr.zan1{
              animation:zanfr1 1s 1;
            }
            &.zanfr.zan2{
              animation:zanfr2 1s 1;
            }
          }
        }
        &.wl_no_li{
          background-color: #2f76f6;
          height: 14.101rem;
          box-sizing: border-box;
          padding-top: 3.371rem;
          .wl_no{
            width: 5.995rem;
            display: block;
            margin:auto;
          }
        }
      }
    }
  }
  .notel{
    width: 12.907rem;
    height: 8.043rem;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    padding-top:0.661rem;
    position: relative;
    .notel_tit{
      font-size: 0.683rem;
      color: #04348c;
      text-align: center;
      height: 1.045rem;
      line-height: 1.045rem;
      font-weight: 600;
    }
    .notel_info{
      text-align: center;
      line-height: 1.28rem;
      height: 1.28rem;
      font-size: 0;
      margin-top: 1.344rem;
      span{
        width: 2.347rem;
        height: 1.28rem;
        line-height: 1.28rem;
        font-size: 0.597rem;
        color: #333;
        display: inline-block;vertical-align: top;
      }
      input{
        display: inline-block;vertical-align: top;
        height: 1.28rem;
        line-height: 1.28rem;
        font-size: 0.597rem;
        color: #333;
        width: 8.725rem;
        border-radius: 4px;
        border:1px solid #999999;
        box-sizing: border-box;
        padding-left: .5rem;
      }
    }
    .wl_notel_btn{
      width: 4.672rem;
      display: block;
      margin:auto;
      margin-top: 1.515rem;
    }
    .close{
      width: 1.5rem;height: 1.5rem;
      position: absolute;
      right: .8rem;
      top: .3rem;
      &:before{
        content: '';
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: #333;
        transform: rotate(45deg);
        margin:auto;
        left: 0;right: 0;top:0;bottom: 0;
      }
      &:after{
        content: '';
        position: absolute;
        width: 1rem;
        height: 2px;
        background-color: #333;
        transform: rotate(135deg);
        margin:auto;
        left: 0;right: 0;top:0;bottom: 0;
      }
    }
  }
}
